@{
    ViewBag.Title = "Index";
}

<h2>Employee List</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblSearch">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
               Joining Date
            </th>
            <th>
               Age
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
    </tbody>

</table>


<script type="text/javascript">

    $(document).ready(function () {
        var table = $("#tblSearch").DataTable({
            ajax: {
                url: "/employee/getemployee",
                dataSrc: ""
            },

            columns: [
                {
                    data: "Name",
                },
                {
                    data: "DOB",
                    render: function (data, type, employee) {
                        return `${
                                    new Date(parseInt(employee.DOB.substr(6))).toLocaleDateString('en-GB')
                                }`
                    }

                },
                {
                    data: 'Age'
                },
                {
                    data: "Id",
                    render: function (data, type, employee) {
                        return `<a href='/employee/Edit/${employee.Id}' class='btn btn-warning'>Edit</a> 
                        <button type="button" class='btn btn-danger js-delete' data-id=${employee.Id} >Delete</button> 
                        <a href='/employee/Details/${employee.Id}' class='btn btn-secondary' >Details</a>`
                    }
                }
            ]

        });
   

        $("#tblSearch").on('click', '.js-delete', function () {
        var button = $(this);
        let id = $(this).attr("data-id")

        if (confirm("Are you sure you want to delete this record")) {
            $.ajax({
                url: '@Url.Action("Delete", "Employee")',
                method: "POST",
                data: { id: id },
                success: function (result) {
                    if (result) {
                        button.parents("tr").remove();
                    } else {
                        alert("Something went wrong!!");
                    }

                },
                error: function () {
                    alert('An error occurred while deleting the record.');
                }
            });
        }
    });

    });
</script>
