@{
    ViewBag.Title = "Practical - 1";
}

<h3>Hello World</h3>

<label id="lblMessage"></label>

<input type="button" value="PRINT TEXT" id="btn_printText" />
<input type="button" value="BOLD" id="btn_Bold" />
<input type="button" value="ITALIC" id="btn_Italic" />
<input type="button" value="UNDERLINE" id="btn_Underline" />
<input type="button" value="RESET" id="btn_Reset" />


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Script.js" type="text/javascript"></script>
